.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 68px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    z-index: 101;
}
.sidebar-link {
    height: 105px;
}
.sidebar-link:hover {
    background-color: rgba(211, 211, 211, 0.613);
    cursor: pointer;
}
.sidebar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-icon {
    margin-top: 5px;
    height: 35px;
    margin-bottom: 10px;
}
.side-info {
    font-size: 14px;
}